# Doroob E-Learning Dataset

# منصة دروب هي منصة وطنية للتدريب الإلكتروني وهي إحدى مبادرات صندوق تنمية الموارد البشرية التي تسعى إلى تمكين القوى العاملة من خلال تطوير قدراتهم ورفع مهاراتهم وفق احتياجات سوق العمل وسبب الدراسة الاحصائية  لمعرفة اهمية منصة دروب وبيان مدى اهتمام المتدربين لحضور الدورات المقدمه من منصة دروب من كافة أنحاء اللمملكة

## Website :https://www.doroob.sa/
### Dataset Source: https://od.data.gov.sa/ar/national-platforms

In [2]:
## Import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
df = pd.read_excel('doroob_2022.xlsx', sheet_name=None)

In [36]:
stdf = pd.DataFrame(list(df.values())[0])

In [48]:
stdf.columns

Index(['ID', 'العمر', 'اسم التدريب', 'تاريخ التسجيل', 'تاريخ الانتهاء',
       'المدينة', 'المنطقة', 'الجنس'],
      dtype='object')

In [59]:
# this is the main dataframe that we will work with
stdf.head()

,ID,العمر,اسم التدريب,تاريخ التسجيل,تاريخ الانتهاء,المدينة,المنطقة,الجنس
0,1,45.0,برنامج معالجة النصوص Word,2022-12-15 11:58:39,NaT,جدة,مكة المكرمة,انثى
1,2,47.0,إدارة فرق العمل عن بعد,2022-12-14 21:44:02,2022-12-14 21:48:24,جدة,مكة المكرمة,انثى
2,3,21.0,رحلة البحث عن عمل,2022-12-15 20:55:28,2022-12-16 15:19:38,جدة,مكة المكرمة,انثى
3,4,40.0,برنامج معالجة النصوص Word,2022-12-15 01:50:38,2022-12-15 01:52:49,جدة,مكة المكرمة,انثى
4,5,43.0,فن إتيكيت العمل,2022-12-15 03:55:45,NaT,أحد رفيدة,NaN,انثى

In [60]:
# this is just a test for grouping 'اسم التدريب'
group = stdf[['ID' , 'اسم التدريب']].groupby('اسم التدريب').count()
group.sort_values(by='ID', ascending=False, inplace=True)
group.head(10)

                                         ID
اسم التدريب
العقلية الريادية وإدارة الأزمات        4670
العناصر الرئيسية لنجاح ريادة الأعمال   4026
استمرارية الأعمال والتعافي من الأزمات  3595
إدارة المشتريات وأصحاب مصلحة المشروع   3583
مكونات الإبداع في بيئة العمل           3548
خطة التطوير الفردية                    3464
برنامج معالجة النصوص Word              2890
برنامج جداول البيانات Excel            2754
مهارات التفكير الإبداعي                2528
برنامج العروض التقديمية PowerPoint     2414

## First Apply EDA

### EDA steps: head, shape, info, describe, missing values

In [ ]:
# to be compeleted

### Apply the additional EDA steps based on your dataset needs.

In [61]:
# to be compeleted.
# suggestion to add new colomn that calculate the duration of a completed course by minusing finished date to startding date. 
# If there is no finish day return 0

# 1
###   - معرفة أكثر خمس دورات استخدامًا

In [ ]:
# to be completed

# 2
### -  المواضيع الاكثر اهتماماً لكل (ذكر\انثى)

In [ ]:
# to be completed

## 3
### عدد المتدربين من كل منطقه..

In [ ]:
# to be compeleted

## 4
### -مواضيع الدورات الاكثر اهتمامًا على حسب المنطقة.

In [ ]:
# to be compeleted

## 5
### معرفة مواضيع الدوارات التي تم إتمامها منها ومدة الإتمام

In [ ]:
# to be compeleted

## 6
### -معرفة عدد المتدربين  كل فئة عمرية

In [ ]:
# to be compeleted

## 7
### - بيان للفئات العمريه المهتمه بدورات تقنية المعلومات

In [ ]:
# to be compeleted

## 8
### -معرفة اكثر الدورات اهتماما للفئة العمرية من ١٥ الى ٢٠

In [ ]:
## to be compeleted